@font-face {
    font-family: title-font;
    src: url(fonts/HKGrotesk-Black.woff) format("woff");
}
body{
    width: 100vw;
    height: 100vh;
}

.navlink.mobile, body {
    font-family: 'Graphik 400',Arial,sans-serif;
}
.is--g7 {
    width: 100%;
    flex: 0 auto;
}
.hero__title {
    flex: 0 0 auto;
    font-family: 'Graphik 600',Arial,sans-serif;
    color: #0c1014;
    font-size: 56px;
    line-height: 86px;
    font-weight: 600;
    letter-spacing: -3px;
    margin: 0px;  
}
.hero-subtitle-white, .hero__title {
    text-align: center;
}
.hero-text-centered, .hero__title {
    margin-right: auto;
    margin-left: auto;
}
h1 {
    font-size: 38px;
    line-height: 44px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-bottom: 10px;
}
h1, h2, h3 {
    margin-top: 20px;
}


.form-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.box1 {
    background-color: #2783fe;
}

.container-fluid
{
    padding-left: 0;
    padding-right: 0;
}


.form-group.tight {
    width: 468px;
    margin-bottom: 0;
    padding-left: 0;
}

.form-group {
    display: inline-block;
    width: 338px;
    margin-bottom: 20px;
    padding-left: 12px;
}

.label-large.left.dark {
    color: #0c1014;
}

.label-large.left {
    margin-bottom: 7px;
    float: left;
}

.label-large {
    color: #fff;
    font-weight: 500;
}

label {
    display: block;
    margin-bottom: 5px;
}

b,
label,
optgroup,
strong {
    font-weight: 700;
}

.error.form-group input:not([type="checkbox"]) {
    box-shadow: inset 0 -4px 0 0 #fabf56, inset 0 -3px 0 0 #ea7960;
}

.class-date,
.input_large.tall.outline {
    border-style: solid;
}

.input_large.tall {
    height: 50px;
    border-radius: 6px;
}

.input_large {
    width: 100%;
    height: 41px;
    margin-bottom: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    border: 1px #ccc;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-radius: 3px;
    color: #373636;
    font-size: 14px;
    font-weight: 300;
}

.w-input,
.w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}

input {
    line-height: normal;
}



.error .alert-message.left.invisible {
    display: block;
}

.alert-message.left.invisible {
    position: absolute;
    display: none;
}

.alert-message.left {
    float: left;
    color: #ff345e;
}

.alert-message {
    height: 20px;
    padding-top: 5px;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    font-style: italic;
    font-weight: 400;
}

.button.small.signup {
    width: 100%;
    max-width: 468px;
    margin-top: 28px;
    margin-right: 0;
    padding-top: 18px;
    padding-bottom: 18px;
}

.button.pricing-button, .button.small {
    line-height: 20px;
    font-weight: 600;
    font-size: 16px;
}
.button {
    display: inline-block;
    margin-right: 30px;
    padding: 15px 29px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-radius: 3px;
    background-color: #00adee;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.06);
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
}

.button, .button.small.translucent.signupform {
    font-family: 'Graphik 500',Arial,sans-serif;
}
.button, .navlink.mobile.white {
    color: #fff;
}

.image
{
    position: relative;
    width: 100%;
    bottom:0;
}
.row{
    height: 100vh;
}

.covid
{
padding-top: 86px;
font-family: 'title-font',Arial,sans-serif;
color: #f5f8fa;
font-size: 56px;
line-height: 86px;
font-weight: 600;
letter-spacing: 1px;
padding-bottom: 0px;
margin: 0;
}
.align-self-center
{
    padding-bottom: 55px;
}
.covid-1
{
font-family: 'title-font',Arial,sans-serif;
color: #f89d9d;
font-size: 56px;
line-height: 86px;
font-weight: 600;
letter-spacing: 1px;
margin: 0;
}

.covid-2
{
font-family: 'title-font',Arial,sans-serif;
color: #f5f8fa;
font-size: 56px;
line-height: 86px;
font-weight: 600;
letter-spacing: 1px;
margin: 0;
}

@media screen and (max-width: 768px) {
    .form-group.tight {
        width: 400px;
        margin-bottom: 0;
        padding-left: 0;
    } 
    .box1{
        display: none;
    }
    .hero__title {
        font-size: 40px;
    }
    .align-self-center {
        padding-bottom: 25px;
    }
}

label.btn span {
    font-size: 1em ;
  }
  
  label input[type="radio"] ~ i.fa.fa-circle-o{
      color: #c8c8c8;    display: inline;
  }
  label input[type="radio"] ~ i.fa.fa-dot-circle-o{
      display: none;
  }
  label input[type="radio"]:checked ~ i.fa.fa-circle-o{
      display: none;
  }
  label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
      color: #7AA3CC;    display: inline;
  }
  label:hover input[type="radio"] ~ i.fa {
  color: #7AA3CC;
  }
  
  label input[type="checkbox"] ~ i.fa.fa-square-o{
      color: #c8c8c8;    display: inline;
  }
  label input[type="checkbox"] ~ i.fa.fa-check-square-o{
      display: none;
  }
  label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
      display: none;
  }
  label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
      color: #7AA3CC;    display: inline;
  }
  label:hover input[type="checkbox"] ~ i.fa {
  color: #7AA3CC;
  }
  
  div[data-toggle="buttons"] label.active{
      color: #7AA3CC;
  }
  
  div[data-toggle="buttons"] label {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 2em;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: none;
  border: 0px solid 
  #c8c8c8;
  border-radius: 3px;
  color: #c8c8c8;
  user-select: none;
  }
  
.input-hide{
    display: none;
}
.fa-2x {
    font-size: 1em;
}
.icon{
    width:75px;
     height:75px; 
     
     margin: 0;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);

   }
   .camera4{
     display:block;
     width:70%;
     height:50%;
     position:absolute;
     top:30%;
     left:15%;
     background-color:#000;
     border-radius:5px;
   }
   .camera4:after{
     content:"";
     display:block;
     width:15px;
     height:15px;
     border:7px solid #fff;
     position:absolute;
     top:15%;
     left:25%;
     background-color:#000;
     border-radius:15px;
   }
   .camera4:before{
     content:"";
     display:block;
     width:50%;
     height:10px;
     position:absolute;
     top:-16%;
     left:25%;
     background-color:#000;
     border-radius:10px;
   }
 
   
   #profile-upload{
       background-image:url('');
       background-size:cover;
       background-position: center;
       height: 100px; width: 100px;
       border: 1px solid #bbb;
       position:relative;
       border-radius:50%;
        overflow:hidden;
     
     
     float:left;margin-right:30px;margin-bottom:0px;
     
   }
   #profile-upload:hover input.upload{
     display:block;
   }
   #profile-upload:hover {
     border: 1px solid gray
   }
   #profile-upload:hover .hvr-profile-img{
     opacity:1;
    }
   .hvr-profile-img{opacity:.3;}
   
   #profile-upload input.upload {
       z-index:1;
       left: 0;
       margin: 0;
       bottom: 0;
       top: 0;
       padding: 0;
       opacity: 0;
       outline: none;
       cursor: pointer;
       position: absolute;
    
       width:100%;
       display:none;
   }
   
   .profile{
       display:flex;
       justify-content: center;
   }
   
   
   